<span class="logoBlock"></span><h1>Welcome to my site!</h1>
<h3>The site is currently under reconstruction.  For potential work, please <a href="mailto:vizente@leo8eleven.com">email</a> me.</h4>

<%= link_to 'Past Work', controller: 'devworks' %>



<%= link_to 'New work', new_devwork_path %>
